*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  flex: 1 0 auto;
}

header, footer {
  width: 100%;
  transition: height .6s ease, padding .6s ease;
}

header {
  height: 6.9rem;
  padding: 1.6rem;
  background-color: #1f2532;

  h1 {
    color: #fff;
    font-family: "Open Sans", open-sans, sans-serif;
    font-weight: 300;
  }
}

footer {
  height: 0;
  padding: 0 1.6rem;
  color: #F4F3F0;
  font-size: 0;
  background-color: #404040;
}

header, footer {
  flex: none;
}

.sidebar {
  padding: 1.6rem;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    order: 1;
    height: 10rem;
    border-bottom: thin solid #F4F3F0;
  }
}

@media (min-width: 768px) {
  .container {
    flex: 1 0 auto;
  }

  .sidebar {
    order: 1;
    width: 26rem;
    border-right: thin solid #F4F3F0;
  }
}
