.linkItem {
  display: block;
  padding: 1rem 1.1rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: lighten(#404040, 10%);
  transition: all ease-out .4s;

  &:visited {
    color: white;
  }

  &.current {
    background-color: lighten(#404040, 20%);
  }

  &:not(.current):hover {
    @media (min-width: 768px) {
      text-shadow: 1px 1px 0 #000;
      text-indent: 1rem;
    }
  }
}
