.control {
  &Panel {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Element {
    position: relative;
    width: 4.8rem;
    height: 4.8rem;
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .3), inset 0 4px 1px 1px white, inset 0 -3px 1px 1px rgba(204, 198, 197, .5);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    transition: all .2s linear;

    &:hover {
      background-image: linear-gradient(top, #fff, #f4f1ee);

      img {
        filter: invert(.5) saturate(5) hue-rotate(175deg);
      }
    }

    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 2rem;
      height: 2rem;
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .4), inset 0 -3px 1px 1px rgba(204, 198, 197, .5);
      background-image: linear-gradient(top, #efedec, #f7f4f4);
    }

    &:not(:first-child) {
      margin-left: 3.6rem;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    &.active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .4), inset 0 -3px 1px 1px rgba(204, 198, 197, .5);
      background-image: linear-gradient(top, #efedec, #f7f4f4);

      img {
        filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
      }
    }
  }
}
